/* 15. Make the whole site have the Montserrat font-family */
body {
  font-family: "Montserrat";
}

/* 6. Changing the background color for the first section */
#title {
  background-color: #ff4c68;
}

/* 13. Enlarging the logo */
.navbar-brand {
  /* 18. Give the font more of a tinder logo look */
  font-family: "Ubuntu";
  font-size: 2rem;
}

.nav-item {
  /* 19. Giving our nav items more space between */
  padding: 0 18px;
}

/* 20. Make the link items a little bit bigger but also lighter */
.nav-link {
  font-weight: 100;
  font-size: 1.2rem;
}

.container-fluid {
  padding: 3% 15%;
}

/* 7. Changing the font-style for the h1 */
h1 {
  font-family: "Montserrat";
  font-size: 3.5rem;
  font-weight: 900;
  line-height: 1.5;
  /* 14. Make the h1 white */
  color: white;
}

/* 16. make the img smaller, rotate and have a left margin on the left */
.iphone-img {
  width: 60%;
  transform: rotate(25deg);
  /* margin-left: 60px; */
}

/* 17. give the top of the row section a bit of space */
.row {
  margin-top: 4.5rem;
}

/* 21. Pushing the download buttons a bit down and have a little space between each other */
.download-btn {
  margin: 5% 3% 5% 0;
}

#features {
  padding: 7% 15%;
}

h3 {
  font-weight: bold;
  font-size: 1.5rem;
  margin-top: 15px;
}

.feature-text {
  color: #8f8f8f;
}

.fa-solid {
  color: #ef8172;
}

.fa-solid:hover {
  color: #ff4c68;
}

.feature-box {
  padding: 0 50px 50px 50px;
}